# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# extra
# Check if .gitignore exists
dir .gitignore

# If not, create it
echo node_modules/ > .gitignore
echo dist/ >> .gitignore
echo .env.local >> .gitignore
echo .env.development >> .gitignore
echo .env.production >> .gitignore
echo .env.*.local >> .gitignore